---
http_interactions:
- request:
    method: get
    uri: https://api-na.hosted.exlibrisgroup.com/primo/v1/pnxs?apikey=foo&q=title,contains,otter,OR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"highlights":{"ispartof":["Otter"],"publisher":["Otter"],"vertitle":["Otter","Otter''s","OTTER","otter"],"termsUnion":["Otter","Otter''s","OTTER","otter"],"title":["Otter","Otter''s","OTTER","otter"]},"docs":[{"date":"1995","sourceId":"$$V01TULI_ALMA$$O01TULI_ALMA51367640150003811","delivery":{"deliveryCategory":["Alma-E"],"availability":["not_restricted"],"GetIt1":[{"links":[{"isLinktoOnline":true,"displayText":"Almaviewit","hyperlinkText":"","getItTabText":"alma_tab1_norestrict","link":"https://temple.userservices.exlibrisgroup.com/view/uresolver/01TULI_INST/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=10_1&ctx_tim=2017-11-10T14%3A45%3A37IST&ctx_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004&rfr_id=info:sid/primo.exlibrisgroup.com-01TULI_ALMA&req_id=&rft_dat=ie=01TULI_INST/51367640150003811,ie=01TULI_INST:51367640150003811,ie=01TULI_INST/51363738700003811,ie=01TULI_INST:51363738700003811,language=,view=&svc_dat=viewit&u.ignore_date_coverage=true&rft.local_attribute=&rft.kind=","@id":"_:0"}],"category":"Alma-E"}]},"creator":["Silverstein,
        Alvin"],"sourceSystem":"$$VAlma$$O01TULI_ALMA51367640150003811","adaptor":"Local
        Search Engine","pnxId":"dedupmrg255826447","title":"The sea otter","originalSourceId":"$$V01TULI$$O01TULI_ALMA51367640150003811","almaId":"$$V01TULI_INST/51367640150003811$$O01TULI_ALMA51367640150003811","enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"contributor":["Silverstein,
        Virginia B","Silverstein, Robert A","EBSCO Publishing (Firm)"],"@TYPE":"book","context":"L","@id":"https://api-na.hosted.exlibrisgroup.com/primo/v1/pnxs/L/dedupmrg255826447?"},{"sourceId":"01TULI_ALMA","delivery":{"deliveryCategory":["Alma-E"],"availability":["not_restricted"],"GetIt1":[{"links":[{"isLinktoOnline":true,"displayText":"Almaviewit","hyperlinkText":"","getItTabText":"alma_tab1_norestrict","link":"https://temple.userservices.exlibrisgroup.com/view/uresolver/01TULI_INST/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=10_1&ctx_tim=2017-11-10T14%3A45%3A37IST&ctx_ver=Z39.88-2004&[...]
